/* colors
Blue: #0079C2,
Orange: #E4791B
rgb of orange : rgb(228, 121, 27)
*/


body  {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: url("https://goo.gl/Hns92c") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
   }
   
   
    
.masthead{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: white;
}

.intro {
    color: white;
}

.container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.orange:after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(228, 121, 27, 0.5);
    z-index: -1;
}

.card {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 30px #000000;

}
      
.card h3 {
    background: #0094ff;
    color: white;
    padding: 10px;
}

.card p {
    color: #333;
    padding: 10px;
}

.top-info {
    width: 250px;
    height: 50px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* z-index: 1; */
    z-index: 8888;
    /* Sit on top */
    margin: auto;
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
button.button {
    color: #E4791B;
    font-family: 'Roboto Slab', serif;
    position: relative; /* these may change once they go inside the cards..........*/
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
}
button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
}

/* Modal Content */

.modal-content {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
   
}

/* The Close Button */

.close {
    color: #E4791B;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
