/* colors
Blue: #0079C2,
Orange: #E4791B
rgb of orange : rgb(228, 121, 27)
*/


body  {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: url("https://goo.gl/Hns92c") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
 /*Go rocketfuel for all your website needs  */
.masthead{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: white;
    border-bottom: 7px solid;
}
/* paragraph under masthead */
.intro {
    color: white;
}
/* div containing all modals */
.container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* div containing orange opacity over all */
.orange:after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(228, 121, 27, 0.5);
    z-index: -1;
}
/* each card inside the container */
.card {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 10px 10px 10px;
    background-color: white;
    box-shadow: 0 0 30px #000000;
    text-overflow: inherit;
}
/* each header in card */
.card h3 {
    background: #0094ff;
    color: white;
    padding: 10px;
    margin: auto;
    
}
/* info on card under h3 */
.card p {
    color: #333;
}
/* space for info on card under h3 */
.top-info {
    width: 250px;
    height: 220px;
    overflow: auto;
}

/* The Modal (background) */
/* the pop up itself */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 8888;
    /* Sit on top */
    margin: auto;
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    text-overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    
}
/* Button for modal pop up */
button.button {
    color: #E4791B;
    font-family: 'Roboto Slab', serif;
    position: relative; /* these may change once they go inside the cards..........*/
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 0px 0px 0px 0px; /*this could fix the position of the button changing the first number*/
    font-size: 16px;
    font-weight: bold;
}
/* hover function for modal pop up */
button.button:hover {
    color: #0079C2
}

/* Modal Content */
.modal-content {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
    overflow: auto;    
   
}

/* The Close Button */
.close {
    color: #E4791B;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Rocket fuel footer rocket, changing color from black to white */
#rocket {
    margin: 50px;
    fill: white;
}
#Layer_1 {
    margin-top: 50px;
}

.my-svg-alternate {
    display: none;
}

.no-svg .my-svg-alternate {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(image.png);
}
